<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Финансовое приложение</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Добро пожаловать в финансовое приложение!</h1>
    <div class="mt-4">
        <h2>Меню</h2>
        <ul class="list-group">
            <li class="list-group-item"><a href="/main">Главная</a></li>
            <li class="list-group-item"><a href="/events">События</a></li>
            <li class="list-group-item">Сервисы:
                <ul>
                    <li><a href="/services/cashback_analysis">Выгодные категории повышенного кешбэка</a></li>
                    <li><a href="/services/investment_bank">Инвесткопилка</a></li>
                    <li><a href="/services/simple_search">Простой поиск</a></li>
                    <li><a href="/services/phone_search">Поиск по телефонным номерам</a></li>
                    <li><a href="/services/person_transfer_search">Поиск переводов физическим лицам</a></li>
                </ul>
            </li>
            <li class="list-group-item">Отчеты:
                <ul>
                    <li><a href="/reports/spending_by_category">Траты по категории</a></li>
                    <li><a href="/reports/spending_by_weekday">Траты по дням недели</a></li>
                    <li><a href="/reports/spending_by_workday">Траты в рабочий/выходной день</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
