body {
    background-color: #87CEEB; /* Голубой фон */
}

button {
    border: none;
    border-radius: 10px; /* Скругление углов 10px */
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background: linear-gradient(45deg, #6a5acd, #00bfff); /* Переливчатый эффект */
    background-size: 200% 200%;
    animation: gradient 3s ease infinite; /* Анимация переливания */
    cursor: pointer;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
